
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>Index de parametros</h2>
<a href="/parametros/ProbarParametro?Id=87">Probar</a>
<p>
    <a href="/parametros/ProbarParametroConOtroNombre?edad=98">
        Probar pasar un valor por la URL a un parámetro que no se llame Id (x ej. edad)</a>

</p>
@ViewBag.Mensaje01
@ViewBag.Mensaje02
