
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form method="post">
    <label>Código</label>
    <input type="number" name="Codigo" />
    <br />
    <label>Descripción</label>
    <input type="text" name="Descripcion" />
    <br />
    <input type="submit" value="Guardar" />
</form>
@ViewBag.Mensaje

