
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form method="post">  
    <label>Descripción</label>
    <input type="text" name="descripcion" />
    <br />
    <input type="submit" value="Guardar" />
</form>
@ViewBag.Mensaje

