
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post">
    <label>Nombre de usuario</label>
    <input type="text" name="NombreUsuario" />
    <br />
    <label>Password</label>
    <input type="password" name="Contrasenia" />
    <br />
    <input type="submit" value="Login" />
</form>
@ViewBag.Mensaje
