@model IEnumerable<LogicaNegocio.Empleado>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a href="~/Empleado/CreateJornalero">Create Jornalero</a>
<<<<<<< HEAD
=======
<br/>   
<a href="~/Empleado/CreateMensual">Create Mensual</a>
<br />
<a href="~/Empleado/MostrarEmpleados">Mostrar Empleados</a>

>>>>>>> 3c637846d6a9bcc188974af62da68f7982eff047
<table>
    <thead>
        <th>Nombre</th>
        <th>Documento</th>
    </thead>
    <tbody>
        @foreach(LogicaNegocio.Empleado empleado in Model){
            <tr>
                <td>@empleado.Nombre</td>
                <td>@empleado.Documento</td>
            </tr>
        }
    </tbody>
</table>

<<<<<<< HEAD
=======
@TempData["Mensaje"]

>>>>>>> 3c637846d6a9bcc188974af62da68f7982eff047
