@model IEnumerable<LogicaNegocio.Empleado>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    <thead>
        <th>Nombre</th>
        <th>Documento</th>
    </thead>
    <tbody>
        @foreach(LogicaNegocio.Empleado empleado in Model){
            <tr>
                <td>@empleado.Nombre</td>
                <td>@empleado.Documento</td>
            </tr>
        }
    </tbody>
</table>

@TempData["Mensaje"]

